*.o
*.lo
*.la
libtool
libltdl
Makefile
autom4te.cache/
compile
config.*
.deps
.libs
stamp-*
mkpasswd
respond
Makefile.in
aclocal.m4
ltmain.sh
ylwrap
missing
configure
depcomp
install-sh
conf_parser.c
conf_parser.h
conf_lexer.c
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
plexus_wrap.c
swig.h
ircd/ircd
src/ircd
